@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ui4jaz');
  src:  url('../fonts/icomoon.eot?ui4jaz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ui4jaz') format('truetype'),
    url('../fonts/icomoon.woff?ui4jaz') format('woff'),
    url('../fonts/icomoon.svg?ui4jaz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
  content: "\e906";
  color: #f05032;
}
.icon-bootstrap:before {
  content: "\e908";
  color: #563d7c;
}
.icon-node:before {
  content: "\e909";
  color: #393;
}
.icon-angular:before {
  content: "\e90a";
  color: #dd0031;
}
.icon-laravel:before {
  content: "\e90b";
  color: #e74430;
}
.icon-mysql:before {
  content: "\e90c";
  color: #4479a1;
}
.icon-php:before {
  content: "\e90d";
  color: #777bb4;
}
.icon-javascript:before {
  content: "\e90e";
  color: #f7df1e;
}
.icon-css3:before {
  content: "\e90f";
  color: #1572b6;
}
.icon-html5:before {
  content: "\e910";
  color: #e34f26;
}
.icon-github:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-wordpress:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e900";
}


.icon-github:before {
  content: "\e905";
  font-size: 50px;
  list-style: none;
}
.icon-twitter:before {
  content: "\e901";
  font-size: 50px;
  list-style: none;
}
.icon-facebook:before {
  content: "\e902";
  font-size: 50px;
  list-style: none;
}
.icon-linkedin:before {
  content: "\e903";
  font-size: 50px;
  list-style: none;
}
.icon-instagram:before {
  content: "\e904";
  font-size: 50px;
  list-style: none;
}
.icon-menu:before {
  content: "\e900";
}



body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 auto;
	/*background-color: #1b2127;*/
	/*background: white;*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
}

/*Estilos para el header*/
.header {
	background-color: #1b2127;
	color: white;
	justify-content: space-between;
	height: 70px;
	display: flex;
}

.header ol {
	display: flex;
	height: inherit;
	margin: 0;
}

.header ol li {
	height: inherit;
}

.container h1 {	    
	margin: 0;
	padding: 10px;
}

 ol, ul {
 	list-style: none;
}

.menu {
	height: inherit;
}

.header a {
	color: white;
	text-decoration: none;
	height: inherit;
	display: flex;
	align-items: center;
	padding: 0 10px;
	font-weight: 600;
}

.container {
	max-width: 1200px;
	flex: 1;
	margin: 0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: inherit;
}

/*Imagen de portada*/
.cover-image img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.cover-image {
	background-color: #1b2127;
	margin: 0;
}

/*Sección Sobre Mí*/
.hero {
	background-color: #1b2127;
	height: auto;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero.container {
	margin: inherit;
}

.hero h3 {
	font-size: 35px;
	line-height: 1.5em;
	letter-spacing: .6px;
	color: white;
	margin: 0 30px;
	text-align: justify; 
}

.hero hgroup h2 {
	font-size: 60px;
	line-height: 1.7em;
	text-align: center;
	margin-bottom: 20px;
	color: white;
}

h3 strong {
	color: #026fff;
}

.hero-image {
	object-fit: cover;
	height: inherit;
	width: 50%;
}

/*seccion de portafolio*/

.portfolio {
	background-color: #fafafa;
	padding: 20px;
}

.project {
	border: 1px solid gray;
	border-radius: 10px; 
	margin-bottom: 15px;
	padding: 20px;
	background: white;
	display: flex; 
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.project-detail {
	width: 400px;
}

h2 {
	color: #026fff;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin: 0 0 30px 0;
	text-align: center;
}

.project-title, .project-more-title {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 10px;
}

.project-course, .project-date, .project-url {
	margin: 10px 0;
}

.project-description {
	font-size: 20px;
	text-align: justify;
}

.project strong {
	font-family: 'Fjalla One', sans-serif;
}

.project-details {
	width: 50%;
}

.project-imageContainer {
	width: 50%;
}

.project-imageContainer img {
	max-width: 100%;
}

.project-url a {
	text-decoration: none;
	font-size: 20px;
	color: black;
	font-weight: 600;
}

.project-view {
	color: #056fff;
	border: 1px solid;
	padding: 5px 20px;
	text-decoration: none;
	border-radius: 5px;
}

.project-more {
	border: 1px solid gray;
	border-radius: 10px; 
	margin-bottom: 15px;
	padding: 20px;
	background: white;
	display: flex; 
	align-items: center;
	justify-content: space-between;
}

.project-more-detail {
	width: 1200px;
}

.project-more-title, .project-more-description {
	text-align: center;
}

.project-more-description {
	font-size: 20px;
}

.project-more-description a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

/*seccion de Habilidades*/
.ability {
	background-color: #026fff;
	padding: 20px;
}

.abilityContent {
	display: inline;
	background: white;
	border-radius: 50px;
	position: relative;
	left: 45%;
	top: 70%;

}

.ability-title {
	color: white;
	text-align: center;
	margin: 0;
}

.ability-item {
	color: white;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}

.progress {
	border-radius: 10px;
	margin: auto;
}

.ability-progress {
	width: 85%;
	max-height: 40px;
	background-color: white;
	padding: 10px;
}

.progress-item {
	height: 20px;
	margin: 5px;
	margin: 0 5px;
}

.ability-html {
	width: 85%;
	background-color: green;
}

.ability-css {
	width: 60%;
	background-color: yellow;
}

.ability-js {
	width: 40%;
	background-color: yellow;
}

.ability-mysql {
	width: 40%;
	background-color: yellow;
}

.ability-php {
	width: 40%;
	background-color: yellow;
}

.ability-laravel {
	width: 50%;
	background-color: yellow;
}

.ability-angular {
	width: 60%;
	background-color: yellow;
}

.ability-node {
	width: 40%;
	background-color: yellow;
}

.ability-wp {
	width: 50%;
	background-color: yellow;
}

.ability-bootstrap {
	width: 55%;
	background-color: yellow;
}

.ability-git {
	width: 65%;
	background-color: yellow;
}

.ability-english {
	width: 20%;
	background-color: red;
}

/*seccion de estudios*/
.study {
	background-color: #1b2127;
}

.study .container h2 {
	font-size: 50px;
	color: white;
	margin-top: 0;
	text-align: center;
}

.ucla {
	background-color: white;
}

.platzi {
	background-color: #2C2F34;
}


.study-title-ucla {
	color: #3185C1;
	font-size: 70px;
	text-align: center;
	letter-spacing: 5px;
}

.study-title-platzi {
	color: white;
	font-size: 70px;
	text-align: center;
	letter-spacing: 5px;
}

.study-description-ucla {
	color: black;
	font-size: 30px;
	text-align: justify;
}

.study-description-platzi {
	color: white;
	font-size: 30px;
	text-align: justify;
}

.studyContainer {
	margin: 20px auto;
	border-radius: 30px;
	padding: 20px;
	display: block;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.study-course {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.study-image, .img.course {
	object-fit: cover;	
	width: 40%;
	display: block;
    margin: 0 auto;
}

.img-course {
	width: 370px;
	margin: 10px;
}

.study-imageContainer-course {
	margin: 0;
}

/*seccion de experiencia y colaboraciones*/
.main-experience {
	background-color: #fafafa;
	padding-top: 20px;
}

.experience-list {
	display: flex;
}

.experience {
	margin: 1%;
    width: 48%;
    height: 50%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: lightgrey;
  
}

.experience-space {
	justify-content: space-around;
}

.experience-image {
    object-fit: cover;
    width: 100%;
}

.experience-container {
	margin: 20px 40px;
    margin-top: -40px;
    background-color: #fafafa;
    position: relative;
    padding: 20px;
    text-align: center;
}

.img-enigma {
	background-color: black;
	max-width: 440px;
	height: 100px;
	margin: 0;
	padding: 10% 20%;
}

.img-thunder {
	margin: -10px 0 0 0;
    height: 370px;
}

figure {
	margin: 0;
}

.experience-duration, .experience-description {
	text-align: left;
}

/*seccion de contacto*/
.contact {
	background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1em;
}

.contact-title {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	text-align: center;
}

.contact-form input {
	border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.contact-btn {
	display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin: 10px 0;
}

.contact-description {
    font-size: 1.1em;
    font-weight: 600;
}

.contact-email a, .contact-phone a{
	text-decoration: none;
	color: white;
} 

.social a {
	color: white;
	text-decoration: none;
	margin: 5px;
}

/*Seccion de footer*/
footer {
	background-color: #1b2127;
	color: white;
	text-align: center;
	flex-wrap: wrap;
	height: auto
}
.copy {
	margin: 0;
	padding: 10px;
}

.burger-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.8);
	display: none;
	line-height: 40px;
	text-align: center;
	position: fixed;
	z-index: 4;
	left: 5px;
	top: 5px;
	color: white;
}

/*Responsive Design: Desktop first*/

@media screen and (max-width: 1024px){
	.portfolio {
		padding: 5px;
	}
}

@media screen and (max-width: 882px){

	.project-detail {
		width: 100%;
	}

	.project-imageContainer {
		width: auto;
		text-align: center;
	}

	.img-thunder {
		height: 270px;
	}
}

@media screen and (max-width: 767px){

	h2 {
		font-size: 1em;
		margin: .5em 0;
	}

	.main-experience {
		padding-top: 0;
	}

	.burger-button {
		display: block;
	}

	.header {
		display: block;
		height: auto;
		flex-wrap: wrap;
	}

	.header ol {
		display: block;
		padding: 0;
	}

	.header ol li {
		height: 50px;
	}

	.header a {
		justify-content: center;
		height: 40px;
		font-size: 2em;
		margin-bottom: .5em;
	}

	.header h1 {
		text-align: center;	
	}

	.menu {
		position: fixed;
		background: rgba(5,111,255,.9);
		z-index: 3;
		top: 0;
		left: -100vw;
		width: 100vw;
		/*height: 100vh;*/
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .3s;
	}

	.menu.is-active {
		left: 0;
	}

	.hero  {
		height: auto;
		position: relative;
		overflow: hidden;
	}

	.hero .container h3 {
		font-size: 2em;
		z-index: 2;
		margin: 60px 30px;
	}

	.hero-image {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}

	.project {
		display: block;
	}

	.project-details {
		width: auto;
		font-size: 16px;
	}

	.project-detail {
    	width: 100%;
    	text-align: center;
	}

	.project-date, .project-url {
		margin: .3em 0;
	}

	.project-title {
		font-size: 1.5em;
		margin-bottom: .3em;
	}

	.project-url a {
		font-size: 1em;
	}

	.project-date {
		font-size: 1em;
	}

	.project-description {
		font-size: .8em;
	}

	.experience {
		width: auto;
		flex-shrink: initial;
		margin-bottom: 10px;
	}

	.experience-image {
		width: 100%;
	}

	.experience-list {
		display: block;
		width: 70%;
	}

	.study-image {
		width: 60%;
	}

}

@media screen and (max-width: 599px){
	.contact {
		height: auto;
		padding: 1.5em 0;
		text-align: center;
		display: block;
	}
}

@media screen and (max-width: 480px){

	.hero .container h3 {
		font-size: 1.5em;
	}

	.project-details {
		font-size: 14px;
	}

	.project-more-detail {
		font-size: 16px;
	}

	.project-more-title {
		font-size: 1em;
	}

	.project-more-description {
		font-size: 1em;
	}

	.experience-container {
		margin: -2em 1.4em 1em;
    	padding: 1em;
    	width: 80%;
	}

	.experience-list {
		display: block;
		width: 90%;
	}

	.img-enigma {
		padding: 10%;
	}

	.ability-progress {
		padding: 2.3%;
	}

	.progress-item {
		height: 10px;
	}

	.ability {
		font-size: 16px;
	}

	.ability-item {
		font-size: 1em;
	}

	.study-detail {
		font-size: 20px;
	}

	.study-description-ucla, .study-description-platzi {
		font-size: 1em;
	}

	.img-course {
		width: 70%;
		display: block;
		margin: 10px auto;
	}

	.study .container h2 {
		font-size: 30px;
	}

	.hero .container h3 {
		font-size: 1.4em;
		margin: 10px 30px;
	}
}

@media screen and (max-width: 424px){
	.img-thunder {
    	margin: -10% 0;
	}

	.experience-container {
		margin: -2em .8em 1em;
	}	

	.studyContainer {
		padding: .5em;
	}

	.header a {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 320px){
	.project-url a {
    	font-size: .8em;
	}	
}