body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 auto;
	background-color: #1b2127;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
}

/*Estilos para el header*/
.header {
	background-color: #1b2127;
	color: white;
	justify-content: space-between;
	height: 70px;
	display: flex;
}

.header ol {
	display: flex;
	height: inherit;
	margin: 0;
}

.header ol li {
	height: inherit;
}

.container h1 {	    
	margin: 15px 0 0 0;
}

 ol, ul {
 	list-style: none;
}

.menu {
	height: inherit;
}

.header a {
	color: white;
	text-decoration: none;
	height: inherit;
	display: flex;
	align-items: center;
	padding: 0 10px;
	font-weight: 600;
}

.container {
	width: 1200px;
	margin: 0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: inherit;
}

/*Imagen de portada*/
.cover-image img {
	display: block;
	margin: auto;
}

.cover-image {
	background-color: #1b2127;
	margin-bottom: 100px;
}

/*Sección Sobre Mí*/
.hero {
	height: 500px;
	width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero.container {
	margin: inherit;
}

.hero hgroup h3 {
	font-size: 35px;
	line-height: 1.5em;
	letter-spacing: .6px;
	color: white;
	margin: 0 30px;
	text-align: justify; 
}

.hero hgroup h2 {
	font-size: 60px;
	line-height: 1.7em;
	text-align: center;
	margin-bottom: 20px;
	color: white;
}

h3 strong {
	color: #026fff;
}

.hero-image {
	object-fit: cover;
	height: inherit;
}